{% extends "layout.html" %}

{% block body %}
<!-- <section class="text-gray-600 body-font">
    <div class="container px-5 py-5 mx-auto">
    <form action="/profile" method="post">
      <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
        <div class="relative flex-grow w-full">
          <label for="full-name" class="leading-7 text-sm text-gray-600">Search Profile <i class="text-blue-600 font-medium">{{u}}</i></label>
          <input type="text" id='autocomplete' name="user" class="w-full bg-gray-100 bg-opacity-50 rounded border border-transparent focus:outline-none focus:ring-2 focus:ring-pink-500 focus:border-transparent py-1 px-3 leading-8 transition-colors duration-200 ease-in-out shadow-md"
          placeholder="username" autocomplete="off">
        </div>
        <button type="submit" class="shadow-md text-black py-2 px-8 focus:outline-none rounded text-lg hover:text-white hover:bg-purple-600 focus:ring-2 focus:ring-purple-600"><i class="fas fa-search"></i></button>
      </div>
    </form>
    </div>
  </section> -->
{% endblock %}