{% extends "layout.html" %}

{% block body %}

  <main class="bg-gray-100 bg-opacity-25">
  
    <div class="lg:w-8/12 lg:mx-auto mb-8">
  
      <header class="flex flex-wrap items-center p-4 md:py-8">
  
        <div class="md:w-3/12 md:ml-16">
          <!-- profile image -->
          <img class="w-20 h-20 md:w-40 md:h-40 object-cover rounded-full
                       border-2 border-pink-600 p-1" src="{{profile_pic}}" alt=".">
        </div>
  
        <!-- profile meta -->
        <div class="w-8/12 md:w-7/12 ml-4">
          <div class="md:flex md:flex-wrap md:items-center mb-4">
            <h2 class="text-3xl inline-block font-light md:mr-2 mb-2 sm:mb-0">
              {{username}} 
            </h2>
  
            <!-- badge -->
            {% if verified == True %}
            <span class="text-blue-500 
                                 relative mr-6 mt-5 text-xl transform -translate-y-2" aria-hidden="true">
             <i class="fas fa-check-circle"></i>
            </span>
            {% endif %}
  
            <!-- follow button -->
            <a href="#" class="bg-blue-500 px-2 py-1 
                          text-white font-semibold text-sm rounded block text-center 
                          sm:inline-block block">Follow</a>
          </div>
  
          <!-- post, following, followers list for medium screens -->
          <ul class="hidden md:flex space-x-8 mb-4">
            <li>
              <span class="font-semibold">{{total_posts}}</span>
              posts
            </li>
  
            <li>
              <span class="font-semibold">{{followers}}</span>
              followers
            </li>
            <li>
              <span class="font-semibold">{{following}}</span>
              following
            </li>
          </ul>
  
          <!-- user meta form medium screens -->
          <div class="hidden md:block">
            <h1 class="font-semibold">{{name}}</h1>
            <span>{{bio}}</span>
            <a class="text-blue-500 " href="{{link}}"><p>{{link}}</p></a>
          </div>
  
        </div>
  
        <!-- user meta form small screens -->
        <div class="md:hidden text-sm my-2">
          <h1 class="font-semibold">{{name}}</h1>
          <span>{{bio}}</span>
          <a class="text-blue-500 " href="{{link}}"><p>{{link}}</p></a>
        </div>
  
      </header>
  
      <!-- posts -->
      <div class="px-px md:px-3">
  
        <!-- user following for mobile only -->
        <ul class="flex md:hidden justify-around space-x-8 border-t 
                  text-center p-2 text-gray-600 leading-snug text-sm">
          <li>
            <span class="font-semibold text-gray-800 block">{{total_posts}}</span>
            posts
          </li>
  
          <li>
            <span class="font-semibold text-gray-800 block">{{followers}}</span>
            followers
          </li>
          <li>
            <span class="font-semibold text-gray-800 block">{{following}}</span>
            following
          </li>
        </ul>
  
      
        <ul class="flex items-center justify-around md:justify-center space-x-12  
                      uppercase tracking-widest font-semibold text-xs text-gray-600
                      border-t">
         
          <li class="cursor-pointer">
            <a class="inline-block p-3" onclick="changeAtiveTab(event,'tab-profile')">
              <i class="fas fa-th-large text-xl md:text-xs"></i>
              <span class="hidden md:inline">post</span>
            </a>
          </li>
          <li class="cursor-pointer">
            <a class="inline-block p-3" onclick="changeAtiveTab(event,'tab-settings')">
              <i class="far fa-square text-xl md:text-xs"></i>
              <span class="hidden md:inline">igtv</span>
            </a>
          </li>
          <li class="cursor-pointer">
            <a class="inline-block p-3" onclick="changeAtiveTab(event,'tab-options')">
              <i class="fas fa-user border border-gray-500
                               px-1 pt-1 rounded text-xl md:text-xs"></i>
              <span class="hidden md:inline">tagged</span>
            </a>
          </li>
        </ul>



   <div class="flex flex-wrap" id="tabs-id">
      <div class="w-full">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-md rounded">
          <div class="px-4 py-5 flex-auto">
            <div class="tab-content tab-space">
              <div class="block" id="tab-profile">

                    <!-- flexbox grid -->
                <div class="flex flex-wrap -mx-px md:-mx-3">
                  {%for a,b,c,d,e,f,g in details%}
                      <div class="w-1/3 p-px md:px-3">
                        {% if f==0 %}
                        <a class="example-image-link" href="{{a}}" data-lightbox="example-set" data-title="{{c}} {{b}} {{d}}">
                          <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
                          <img class="example-image w-full h-full absolute left-0 top-0 object-cover" src="{{a}}" alt="."/>
                          <i class="fas fa-square absolute right-0 top-0 m-1"></i>
                          {% else %}
                          <a class="" href="{{a}}" data-lity>
                          <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
                            <video controls class="example-image w-full h-full absolute left-0 top-0 object-cover">
                              <source src="{{a}}" type="video/mp4">
                              <source src="movie.ogg" type="video/ogg">
                              Your browser does not support the video tag.
                            </video>
                          <i class="fas fa-video absolute right-0 top-0 m-1"></i>
                           {% endif %}

                          <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                              left-0 top-0 hidden">
                              <div class="flex justify-center items-center 
                                                  space-x-4 h-full">
                                <span class="p-2">
                                  <i class="fas fa-heart"></i>
                                  {{e}}
                                </span>
              
                                <span class="p-2">
                                  <i class="fas fa-comment"></i>
                                  {{g}}
                                </span>
                              </div>
                            </div>
                          </article>
                        </a>
                      </div>
                  {%endfor%}
              </div>
          </div>

              <div class="hidden" id="tab-settings">
                <p>
                  IGTV
                 
                </p>
              </div>

              <div class="hidden" id="tab-options">
                <p>
                  Tags
                </p>
              </div>

            </div>
          </div>
        </div>
        </div>
        </div>



      </div>
    </div>
  </main>
     


  

{% endblock %}    